In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [8]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [9]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [10]:
word = "abcde"
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
list1 = [1,2,3]
list2 = ['x','y','z']
list3 = [3.14, 2.56, 8]

for item in zip(list1,list2, list3):
    print(item)

(1, 'x', 3.14)
(2, 'y', 2.56)
(3, 'z', 8)

In [14]:
list(zip(list1, list2, list3))

[(1, 'x', 3.14), (2, 'y', 2.56), (3, 'z', 8)]

In [15]:
d = {25:123}

In [16]:
123 in d.values()

True

In [17]:
(25,123) in d.items()

True

In [18]:
mylist = [1,2,3,4,5,6,7,8,9]
from random import shuffle
shuffle(mylist)

In [19]:
shuffle(mylist)

In [20]:
mylist

[2, 3, 7, 4, 8, 1, 6, 9, 5]

In [21]:
mylist.sort()

In [22]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
from random import randint
randint(0,1000)

7

In [24]:
randint(0,1000)

811

In [25]:
input("Enter number : ")

Enter number : 50

'50'

In [26]:
res = input("Enter data : ")

Enter data : 23ab

In [27]:
res

'23ab'

In [28]:
res = input("Enter data : ")

Enter data : 45

In [29]:
res

'45'

In [30]:
int(res)

45

In [31]:
res

'45'

In [32]:
res = int(res)

In [33]:
res

45

In [34]:
type(res)

int

In [35]:
res = int(input("Enter data : "))

Enter data : 45

In [36]:
res

45

In [37]:
type(res)

int